@model WebCoreLab.Models.ArtistDetailsWithSubscr
@{
    ViewData["Title"] = "Details";
}

<style>
    th, td {
        border-bottom: 1px solid #ddd;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
</style>

<div class="gallery" style="display: block; margin-left: auto; margin-right: auto;
    width: 50%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <img src="@Model.Artist.ImageLink" class="img-responsive" /> 
</div>
<div class="buy">

    @if (Model.Subscribtion == null)
    {
        <a asp-controller="Artist" asp-action="Subscribe" asp-route-id="@Model.Artist.ID" class="btn btn-success">Subscribe</a>
    }
    else
    {
        <a asp-controller="Artist" asp-action="Unsubscribe" asp-route-id="@Model.Artist.ID" class="btn btn-danger">Unsubscribe</a>
    }

</div>
<div class="artist-info" style="text-align: center;">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist.LineUps)
        </dt>
    </dl>
</div>
    
    <dd>
        <table class="table" align="center" >
            <tr>
                <th>Festival</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            @foreach (var item in Model.Artist.LineUps)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Festival.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Festival.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Festival.EndDate)
                    </td>
                </tr>
            }
        </table>
    </dd>

