@model WebCoreLab.Domain.Festival
@{
    ViewData["Title"] = "details";
}
<dt>
    @Html.DisplayNameFor(model => model.Name)
</dt>
<dd>
    @Html.DisplayFor(model => model.Name)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Country)
</dt>
<dd>
    @Html.DisplayFor(model => model.Country)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.City)
</dt>
<dd>
    @Html.DisplayFor(model => model.City)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.StartDate)
</dt>
<dd>
    @Html.DisplayFor(model => model.StartDate)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.EndDate)
</dt>
<dd>
    @Html.DisplayFor(model => model.EndDate)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Description)
</dt>
<dd>
    @Html.DisplayFor(model => model.Description)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.LineUps)
</dt>
<dd>
    <table class="table">
        <tr>
            <th>Artist</th>
            <th>Country</th>
        </tr>
        @foreach (var item in Model.LineUps)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Country)
                </td>
            </tr>
        }
    </table>
</dd>