@using WebCoreLab.Models
@model FestivalListModel

@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <table>
                <tr>
                    <td>
                        @Html.DropDownListFor(x => x.SelectedYear, new SelectList(Model.Years), new { @class = "form-control input-sm ddlDate", onchange = "this.form.submit();" })
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.SelectedMonth, new SelectList(Model.Months), new { @class = "form-control input-sm ddlDate", onchange = "this.form.submit();" })
                    </td>
                </tr>
            </table>
        }
    </div>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p style="text-align:right">
                Find: <input type="text" placeholder="Name/Country/City" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index" style="background-color: lightgray; color:white; 
                         display: inline-block; padding: 7px 20px; border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                            border-top-right-radius: 5px; text-align:center">Back</a>
            </p>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model != null && Model.Festivals != null && Model.Festivals.Any())
        {
            for (int i = 0; i < Model.Festivals.Count; i += 4)
            {
                int index_0 = i;
                int index_1 = i + 1;
                int index_2 = i + 2;
                int index_3 = i + 3;

                <div class="row" style="margin-top: 50px;">
                    @if (index_0 < Model.Festivals.Count)
                    {
                        <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe">
                            <table border="0" style="width: 100%; cursor: pointer;">
                                <tr>
                                    @*<td>
                                        <img src="@Model.Festivals[index_0].ImageLink" class="img-responsive">
                                    </td>*@
                                    <td>
                                        <a asp-area="" asp-route-id="@Model.Festivals[index_0].Id" asp-controller="Festival" asp-action="Details"><img src="@Model.Festivals[index_0].ImageLink" class="img-responsive" style="width: auto; height: auto; max-width: 275px; max-height: 150px;"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdDate">@Model.Festivals[index_0].StartDate</span>
                                    </td>
                                  
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdName">@Model.Festivals[index_0].Name</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdCountry">@Model.Festivals[index_0].Country</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }

                    @if (index_1 < Model.Festivals.Count)
                    {
                        <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe">
                            <table border="0" style="width: 100%; cursor: pointer;">
                                <tr>
                                    @*<td>
            <img src="@Model.Festivals[index_1].ImageLink" class="img-responsive" />
        </td>*@
                                    <td>
                                        <a asp-area="" asp-route-id="@Model.Festivals[index_1].Id" asp-controller="Festival" asp-action="Details"><img src="@Model.Festivals[index_1].ImageLink" class="img-responsive" style="width: auto; height: auto; max-width: 275px; max-height: 150px;"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdDate">@Model.Festivals[index_1].StartDate</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdName">@Model.Festivals[index_1].Name</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdCountry">@Model.Festivals[index_1].Country</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }

                    @if (index_2 < Model.Festivals.Count)
                    {
                        <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe">
                            <table border="0" style="width: 100%; cursor: pointer;">
                                <tr>
                                    @*<td>
            <img src="@Model.Festivals[index_2].ImageLink" class="img-responsive" />
        </td>*@
                                    <td>
                                        <a asp-area="" asp-route-id="@Model.Festivals[index_2].Id" asp-controller="Festival" asp-action="Details"><img src="@Model.Festivals[index_2].ImageLink" class="img-responsive" style="width: auto; height: auto; max-width: 275px; max-height: 150px;"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdDate">@Model.Festivals[index_2].StartDate</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdName">@Model.Festivals[index_2].Name</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdCountry">@Model.Festivals[index_2].Country</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }

                    @if (index_3 < Model.Festivals.Count)
                    {
                        <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter hdpe">
                            <table border="0" style="width: 100%; cursor: pointer;">
                                <tr>
                                    @*<td>
            <img src="@Model.Festivals[index_3].ImageLink" class="img-responsive" />
        </td>*@
                                    <td>
                                        <a asp-area="" asp-route-id="@Model.Festivals[index_3].Id" asp-controller="Festival" asp-action="Details"><img src="@Model.Festivals[index_3].ImageLink" class="img-responsive" style="width: auto; height: auto; max-width: 275px; max-height: 150px;"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdDate">@Model.Festivals[index_3].StartDate</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdName">@Model.Festivals[index_3].Name</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tdCountry">@Model.Festivals[index_3].Country</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <span>There is no festivals yet.</span>
        }
    </div>
</div>
